.item {
  display: flex;
  align-items: center;

  min-height: 70px;
  margin-bottom: 10px;
  padding: 15px 20px;

  background-color: #fff;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.status {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 15px;

  border-radius: 50%;
  background-color: #000;
}

.avatar {
  width: 125px;
  height: 125px;
  margin-right: 15px;

  border-radius: 5px;
  background-color: grey;
}

.name {
  font-size: 30px;
  font-weight: semi-bold;
}

.active {
  composes: status;

  background-color: green;
}

.offLine {
  composes: status;

  background-color: red;
}
